# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
venv2/
env/

# Env / secrets
.env

# Tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs & data
*.log
data/

# IDE
.idea/
.vscode/
